{% extends 'logbase.html' %}
<div class="login-box">
        <h1>Login</h1>
        <h3>{{msg}}</h3>
        <form action="{% url 'login' %}", method='POST'>
            {% csrf_token %}
            <div class="textbox">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-person-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                </svg>
                {{form.Email}}
            </div>
            <div class="textbox">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z"/>
                    <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z"/>
                </svg>
                {{form1.Password}}
            </div>
            
            <button class="btn" type="submit" name="">Log In</button>
        </form>
        <div>
            </div>
        <form action="{% url 'guest' %}", method='GET'>
            {% csrf_token %}
        <button class="bt1" >Guest</button>
        </form>
        <form action="{% url 'random' %}", method='GET'>
            {% csrf_token %}
        <button class="bt2">Random</button>
        </form>
        <form action="{% url 'signup' %}", method='GET'>
            {% csrf_token %}
        <button class="bt3">Sign UP</button>
        </form>
        <a href="{% url 'forgot' %}">Forgot password?</a>
    </div>