asgiref==3.2.7
attrs==19.3.0
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
certifi==2020.4.5.1
chardet==3.0.4
chempy==0.7.10
click==7.1.1
colorama==0.4.3
comtypes==1.1.7
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dj-database-url==0.5.0
Django==3.0.5
django-crispy-forms==1.9.1
django-heroku==0.3.1
django-phone-field==1.8.0
dot2tex==2.11.3
entrypoints==0.3
ffmpeg==1.4
Flask==1.1.2
gTTS==2.1.1
gTTS-token==1.1.3
gunicorn==20.0.4
idna==2.9
image==1.5.28
importlib-metadata==1.6.0
ipykernel==5.2.0
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jedi==0.16.0
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.2
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.2.0
MarkupSafe==1.1.1
matplotlib==3.2.1
mistune==0.8.4
mpg123==0.4
mpmath==1.1.0
nbconvert==5.6.1
nbformat==5.0.5
notebook==6.0.3
numpy==1.18.2
pandocfilters==1.4.2
parso==0.6.2
pickleshare==0.7.5
Pillow==7.1.1
prometheus-client==0.7.1
prompt-toolkit==3.0.5
psycopg2==2.8.5
psycopg2-binary==2.8.6
PuLP==2.1
PyAudio==0.2.11
pydub==0.23.1
Pygments==2.6.1
pyneqsys==0.5.6
pyodesys==0.13.0
pyparsing==2.4.7
pyrsistent==0.16.0
python-dateutil==2.8.1
pyttsx3==2.87
pytz==2019.3
pywinpty==0.5.7
pyzmq==19.0.0
qtconsole==4.7.2
QtPy==1.9.0
quantities==0.12.4
requests==2.23.0
scipy==1.4.1
Send2Trash==1.5.0
six==1.14.0
soupsieve==2.0
SpeechRecognition==3.8.1
SQLAlchemy==1.3.16
sqlparse==0.3.1
sym==0.3.4
sympy==1.5.1
terminado==0.8.3
testpath==0.4.4
tornado==6.0.4
traitlets==4.3.3
urllib3==1.25.8
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
whitenoise==5.2.0
widgetsnbextension==3.5.1
zipp==3.1.0
